/*/ customAlert */

.alert.customAlertError {
    background-color: #E4002B;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    min-width: 403px;
    padding : 20px 50px 20px 30px;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 9999;
    height: 92px;
}


.alert.customAlertInfo {
    background-color: #d9edf7;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #31708f;
    min-width: 403px;
    padding : 20px 50px 20px 30px;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 9999;
    height: 92px;
}

.alert.customAlertSuccces {
    background-color: #dff0d8;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #3c763d;
    min-width: 403px;
    padding : 20px 50px 20px 30px;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 9999;
    height: 92px;
}


.alert.customAlert {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666;
    min-width: 403px;
    padding : 20px 50px 20px 30px;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 9999;
    height: 92px;
}

.customAlert strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.customAlert .close {
    position: absolute !important;
    right: 15px !important;
    top: 5px !important;
}
.customAlert em {
    color: #999;
    display: inline-block;
    margin: 0 5px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}
