.form-signin
{
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
/*    background:#fff;*/
    border-radius: 6px;
}

.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="email"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 4px;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color:  rgba(225,225,220, 0.4);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.loginRecuperarCrear{
	color:#1E98B3;
	font-size:15px;
}
.loginRecuperarCrear:hover{
	color:#1E98B3;
}


/*Estilos para el wizard de comprobante*/

.slide-frame {
  position:relative;    
}

.slide-frame > div {
  width:100%;
}

.wave.ng-enter, .wave.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.wave.ng-enter {
  position: absolute;
  left:-100%;
}

.wave.ng-enter-active {
  left:0;
}

.wave.ng-leave {
  position: absolute;
  left:0;
}

.wave.ng-leave-active {
  left:100%;
}

.error-asterisco{
	color: #a94442;
}

@media ( min-width : 768px) {
	.modal-xl {
		width: 90%;
		max-width: 1500px;
	}
}

/* AUTOCOMPLETE */

.ul-separar{
	position: relative;
	width: 100%;	
}

.li-separar{
	background-color: #F2F2F2;
	text-align: center;
	cursor: pointer;
}
/* FIN AUTOCOMPLETE */

/* Estilos para LOADING*/
#loading_popup {  
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#2b2922;
    opacity: .9;
 }

.barraload {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 350px;
	font-size: 16pt;
	text-align: center;
	color: white;
	text-shadow: 2px -1px 2px white;
	font-family: 'Unna', serif;
}

.modal-footer {
	text-align: center;
	font-size: 15px;
	font-family: 'Dosis',verdana;
}

.modal-header {
	/*background-color: #428bca;*/
	
	text-align: center;
	/*font-family: arial, verdana;*/
	font-family: 'Dosis',verdana;
	font-size: 11pt;
	color:white;
}

.modal-body {
	margin: 0 8% 0 12% !important;
	
	font-family: 'Dosis',verdana;
}

.control-label {
	text-align: left !important;
}
/* Fin de estilos para LOADING*/


/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
}

.autocomplete input{
  display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: black !important;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.autocomplete ul{
  position: absolute;  
  width: 100%;
 border: 0px solid #ccc;
 
  z-index: 1;
}

.autocomplete li{  
  text-align: left;
  list-style:none;
  width: 93%;
 	padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 93%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: #E2E2E2;
}

.autocomplete li.active .highlight {
  background: #666;
  color: #fff;
}

/* FIN AUTOCOMPLETE */

