.grid {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.grid .remove {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    color: #a94442;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 335px;
}