@charset "UTF-8";
@import url( https://fonts.googleapis.com/css?family=Encode+Sans+Condensed );
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url( https://fonts.googleapis.com/css?family=Dosis );

*
{
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 15px;
}

.input-color-black
{
	color:black !important;
}

.bg-opacity
{
	color: black;
	background: #000;/*#020011 ;*/
	opacity:0.8;
	border:none;
	position: relative;
	
}

.color-black
{
	color:#000 !important;
}

.content-body
{
	background-color: #252529b8;/*#B6060D;*/
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 15px;
	color:#000 !important;
	
	padding:20px 20px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}

.navBar-home
{
	
	margin-top:125px;
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 18px;
	background-color:#fcfcfcc4;
}

.content-body-actualiza
{
	background-color: #252529b8;/*#B6060D;*/
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 15px;
	color:#ffffff;
	
	padding:20px 20px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}


input[ type=text ]
{
    background: rgba(3,3,3,.1) !important;
    color:white !important;
    
  	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-o-transition: all 2s ease-in-out;
}

textarea{
	 background: rgba(3,3,3,.1) !important; 
    color:white !important;
    
  	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-o-transition: all 2s ease-in-out;
}
.header
{
	padding:20px 20px;
	border-radius:6px;
	
	background-color:#fcfcfcc4;
	color:#000;
}

.btn-clear
{
	padding:7px 50px ;
	border-radius: 8px;
	
	background-image:
	       linear-gradient( 
	           to left,
	       	#f75651,
	       	#9e0606,
	           rgb(20, 1, 27)
	       );
}

.btn-warning
{	
	color:white !important;
	background-image:
	       linear-gradient( 
	           to left,
	     	white,
	       	gray,
	           rgb(20, 1, 27)
	       );
	
	border:none;
	
	padding:7px 70px ;
	border-radius: 8px;   
}

.content-body-pagos
{		
	background-color: #252529b8;/*#B6060D;*/
	color:#ffffff;
	/*opacity:0.8;*/
	
	/*font-family:'Dosis', sans sans-serif;
	font-size: 15px;
	color:#fff;*/
	
	padding:20px 35px;
	border-radius:6px;
	box-shadow: 1px 1px 50px #000;
}

.content-body-comprobante
{
	background-color: #252529b8;/*#B6060D;*/
	color:#ffffff;
	
	/*font-family:'Dosis', sans sans-serif;
	font-size: 15px;
	color:#fff;*/
	
	padding:20px 20px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}

.header-comprobante
{
	padding:20px 20px;
	border-radius:6px;
	
	background-color:#fcfcfcc4;
	color:#000;
}

.btn-ok
{
	color:white !important;
	background-image:
	       linear-gradient( 
	           to left,
	       	#f75651,
	       	#9e0606,
	           rgb(20, 1, 27)
	       );
	
	border:none;
	
	padding:7px 70px ;
	border-radius: 8px;
}

.btn-ok:hover
{
	opacity: 0.8;
}

.content-body-comprobante-busqueda
{
	background-color: #252529b8;/*#B6060D;*/
	color:#ffffff;
	
	/*
	font-family:'Dosis', sans sans-serif;
	font-size: 15px;
	color:#fff;*/
	
	padding:20px 40px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}

.header-restore-password
{
	width:90%;
	
	padding:20px 20px;
	border-radius:6px;
	
	background-color:#fcfcfcc4;
	color:#000;

}

.footer {
  
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #9c9999;
  text-align: center;
  color:  #ffffff;
  
}
.content-body-buzon
{
	background-color: #252529b8;/*#B6060D;*/
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 15px;
	color:#ffffff;
	
	padding:20px 50px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}
.content-body-bandeja-buzon
{
	background-color: #252529b8;/*#B6060D;*/
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 15px;
	
	
	padding:20px 50px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}
.content-body-administra-Acuerdo
{
	background-color: #252529b8;/*#B6060D;*/
	font-family: Vegur, 'PT Sans', Verdana, Sans-serif;
	font-size: 15px;

	padding:20px 50px;
	border-radius:6px;
	
	box-shadow: 1px 1px 50px #000;
}
