@import url( https://fonts.googleapis.com/css?family=Dosis ); 
/* .center-modal { */
/* 	position: fixed; */
/* 	top: 10%; */
/* 	left: 18.5%; */
/* 	z-index: 1050; */
/* 	width: 80%; */
/* 	height: 80%; */
/* 	margin-left: -10%; */
/* } */

/* .center-modal-restore { */
/* 	position: fixed; */
/* 	top: 18%; */
/* 	left: 18.5%; */
/* 	z-index: 1050; */
/* 	width: 80%; */
/* 	height: 80%; */
/* 	margin-left: -10%; */
/* } */


.modal-footer{
	text-align: center;
	font-size: 25px;
	font-family: 'Dosis',verdana;
}.


.modal-header{
	background: #343A40;
	text-align: center;
	font-family: 'Dosis',verdana; 
	font-size: 11pt;
}