@import url( https://fonts.googleapis.com/css?family=Encode+Sans+Condensed );
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url( https://fonts.googleapis.com/css?family=Dosis );

html
{
	background-image: url("../img/fondobasic.jpg");
  	background-color: rgba(3,3,3,0.25);
  	background-attachment:fixed;
  	background-repeat: no-repeat;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}


.posicion
{
	margin-top: 1%;
	margin-left: 85%;
}

.img2
{
	background: rgba(3,3,3,.1);
	padding:20px;
	position:fixed;
  	display: block; 
	border-radius: 6px;	
	margin-left: 90%;
	
	image-rendering: auto;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}



.barraload
{
 	position: absolute;
  	top: 50%; 
  	left: 50%;
  	transform: translate(-50%, -50%);
	height: 60px;
	width: 350px;
	font-size: 16pt;
	text-align: center;  
	color: white;
	text-shadow: 2px -1px 2px white;
	font-family: 'Unna', serif;
}

.modal-footer
{
	text-align: center;
}

.modal-header
{
	background: #343A40;
	text-align: center;
	/*font-family: arial,verdana; */
	font-family: 'Dosis',verdana;
	font-size: 11pt;
}

.modal-body
{
	margin: 0 8% 0 12% !important;
	text-align: left !important;
}

.control-label 
{
	text-align: left!important;
}


/*
	Estilos establecidos para el login y sus componentes.
*/


section[class=login]
{
    padding: 25px;
    width: 390px;
    margin: 0 auto;
    margin-top: 1%;
    /*background-color:rgb(77, 70, 70,8);*/
    border-radius: 6px;
    /*border: 1px solid rgb(240, 227, 227);*/
    background: rgba(3,3,5,0.25);
  	box-shadow: 1px 1px 50px #000;
}

section > h1
{
	text-align: center;
	color:white;
	
	font-family: 'Montserrat', sans-serif;
}

.login-enlace
{
	color: white;
}

.login-enlace:hover
{
	color:#9e0606;
}

.login-label
{
	color:white;
}

.login-submit
{
    background-image:
        linear-gradient( 
            to left,
        	#f75651,
        	#9e0606,
            rgb(20, 1, 27)
        );
	
    border: none;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    opacity: .9;
}

.login-text, .login-password
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
  	color: #fff;
    font-weight :bold;
    
    background: rgba(3,3,3,.1);
  	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-o-transition: all 2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.login-text:focus, .login-password:focus
{
    border-bottom: 2px solid #9e0606;
    transition: 2s  ;
}
	
.login-manual
{
	margin-top: 0%; 
	margin-left:10%;
}

/*Estilos para los iconos dentro de los inputs*/
.inputWithIcon input[type="text"] 
{
    padding-left: 40px;
}

.inputWithIcon input[type="password"] 
{
    padding-left: 40px;
} 

.inputWithIcon 
{
    position: relative;
}
  
.inputWithIcon i 
{
    position: absolute;
    left: 0;
    top: 45px;
    padding: 9px 8px;
    color: #000;
    transition: 0.3s;
}
  
  .inputWithIcon input[type="text"]:focus + i {
    color: rgb(9, 46, 83);
  }
   
  .inputWithIcon input[type="password"]:focus + i {
    color: rgb(9, 46, 83);
  }

  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="text"] :focus + i {
    color: #fff;
    background-image:
        linear-gradient( 
            to left,
        	#f75651,
        	#9e0606,
            rgb(20, 1, 27)
        );
  }
  
  .inputWithIcon.inputIconBg input[type="password"] :focus + i {
    color: #fff;
    background-image:
        linear-gradient( 
            to left,
        	#f75651,
        	#9e0606,
            rgb(20, 1, 27)
        );
  }

/*Estilos para los enlaces*/
.link-login-manual
{
	margin-top: 12px;
	margin-left: 5px;
	
	padding:7px 50px ;
	background-image:
        linear-gradient( 
            to left,
        	#f75651,
        	#9e0606,
            rgb(20, 1, 27)
        );
	border-radius:50px;
	
	color: #fff;
	cursor: pointer; 
	font-size: 12px;
	font-family: 'Dosis', sans-serif;
	
	box-shadow: 10px 25px 55px black; /*#012c50;*/
}

.link-login-manual:hover 
{
	opacity:0.8;
}
	
/*Estilos capa de titulo*/	
.title-login
{
	margin-top: 120px; 
	margin-left:65px;	
	color: #fff; 
	font-size: 12px;
}
	
/*--------------------------------*/
#login-button
{
  	cursor: pointer;
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	padding: 30px;
  	margin: auto;
  	width: 200px;
  	height: 200px;
  	border-radius: 50%;
  	background: rgba(3,3,3,.8);
  	overflow: hidden;
  	opacity: 0.4;
  	box-shadow: 10px 10px 30px #000;
}
 
#login-button > img
{
  display: block;
  margin:  auto;
  width: 100%;
  height: auto;
}

/*Recuperar contrasenia*/
.restore-pass
{
	margin: 0 auto;
	width:500px;
	height:370px;
	background: rgba(3,3,5,0.25);
	padding:8px;
	color:white;
	border-radius: 6px;
	text-align: justify;	
	box-shadow: 1px 1px 50px #000;
}
    	
.btn-danger
{
	background-image:
	       linear-gradient( 
	           to left,
	       	#f75651,
	       	#9e0606,
	           rgb(20, 1, 27)
	       );
	        
    padding: 7px 7px;
    border:none;
    border-radius: 6px;
    
    font-size: 14px;
    
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-family: 'Montserrat', sans-serif;
    
}

.btn-accept
{
	background-image:
	        linear-gradient( 
	            to left,
	        	#287F53,
	        	#288241,
	            rgb(20, 1, 27)
	        );
    padding: 7px 7px;
    border:none;
    border-radius: 6px;
    	
    font-size: 14px;
    
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.btn-accept-
{
	width: 100%;
	background-image:
	        linear-gradient( 
	            to left,
	        	#287F53,
	        	#288241,
	            rgb(20, 1, 27)
	        );
    padding: 7px 7px;
    border:none;
    border-radius: 6px;
    	
    font-size: 14px;
    
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}

.input-rfc
{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    
    font-size: 17spx;
    font-family: 'Dosis', sans-serif;
  	color: #fff;
    /*font-weight :bold;*/
    
    background: rgba(3,3,3,.1);
  	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-o-transition: all 2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.content{
	font-size: 16px;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	
	margin:0;
	paddin:0;
}

.label-rfc
{
	font-size: 17px;
	font-family: 'Dosis', sans-serif;
	margin-top:17px;
	margin-left: 18px;
}

.position-label
{
	top:60px;
}

.form-create-account
{
	margin: 0 auto;
	width: 700px;
	height: 1200px;
	color:white;	
	background: rgba(3,3,5,0.25);
	box-shadow: 1px 1px 50px #000;
}

.input-add
{
	width: 100%;
	height:10%;
    padding: 8px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    text-align:center;
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
  	color: #fff;
    /*font-weight :bold;*/
    
    background: rgba(3,3,3,.1);
  	-webkit-transition: all 2s ease-in-out;
  	-moz-transition: all 2s ease-in-out;
  	-o-transition: all 2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

 